name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Set up Google Cloud SDK
      uses: GoogleCloudPlatform/github-actions/setup-gcloud
      with:
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        project_id: zoominfo-project
        export_default_credentials: true
        
    - name: Build and Push Docker Image
      run: |
        cd app
        docker build -t gcr.io/zoominfo-project/python-app:${{ github.sha }} -t gcr.io/your-project-id/python-app:latest .
        docker push gcr.io/zoominfo-project/python-app:${{ github.sha }}
        docker push gcr.io/zoominfo-project/python-app:latest

    - name: Terraform Init
      run: |
        cd app
        terraform init
        terraform apply -auto-approve
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
        TF_VAR_gke_cluster_name: zi-cluster

    - name: Authenticate to GKE Cluster
      run: |
        gcloud container clusters get-credentials zi-cluster --zone us-central1-a --project zoominfo-project
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}

    - name: Deploy Python App to GKE
      run: |
        cd app
        kubectl apply -f deployment.yaml
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}

    - name: Deploy Service to GKE
      run: |
        cd app
        kubectl apply -f service.yaml
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
