name: Python App Deployment
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Build and Push Docker Image
        env:
          DOCKER_REGISTRY: us-central1-docker.pkg.dev  # Replace with your Docker registry URL
          DOCKER_IMAGE: ${{ secrets.GCP_PROJECT }}/python-app-image
        run: |
          cd app/
          echo $DOCKER_REGISTRY/$DOCKER_IMAGE:$GITHUB_SHA
          echo $DOCKER_REGISTRY/$DOCKER_IMAGE:latest
          docker build -t $DOCKER_REGISTRY/$DOCKER_IMAGE:$GITHUB_SHA .
          docker tag $DOCKER_REGISTRY/$DOCKER_IMAGE:$GITHUB_SHA $DOCKER_REGISTRY/$DOCKER_IMAGE:latest
          echo ${{ secrets.GCP_SA_KEY }} | docker login -u _json_key --password-stdin $DOCKER_REGISTRY
          docker push $DOCKER_REGISTRY/$DOCKER_IMAGE:$GITHUB_SHA
          docker push $DOCKER_REGISTRY/$DOCKER_IMAGE:latest
      
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.GCP_PROJECT }}

      - name: Terraform Init
        run: |
          cd app/  # Replace with the path to your Terraform configuration
          terraform init

      - name: Terraform Apply
        run: |
          cd app/  # Replace with the path to your Terraform configuration
          terraform apply -auto-approve

      - name: Authenticate with GKE cluster
        run: gcloud container clusters get-credentials zi-cluster --region us-central1 --project zoominfo-project       

      - name: Apply Kubernetes Deployment
        run: |
          cd app/ 
          kubectl apply -f deployment.yaml



