name: Python App Deployment
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ secrets.GCP_PROJECT }}

      - name: Terraform Init
        run: |
          cd app/  # Replace with the path to your Terraform configuration
          terraform init

      - name: Terraform Apply
        run: |
          cd app/  # Replace with the path to your Terraform configuration
          terraform apply -auto-approve

      - name: Authenticate with GKE cluster
        run: gcloud container clusters get-credentials zi-cluster --region us-central1 --project zoominfo-project       

      - name: Apply Kubernetes Deployment
        run: |
          cd app/ 
          kubectl apply -f deployment.yaml
          kubectl apply -f service.yaml



