name: Build and Deploy Python Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
        cd app
        pip install -r requirements.txt

      - name: Build Python image with latest tag
        run: |
        cd app
        docker build -t gcr.io/zoominfo-project/python-app:latest .

      - name: Push Python image to Artifact Registry
        uses: google-github-actions/artifact-registry@v1.0.1
        with:
          command: push
          image: gcr.io/zoominfo-project/python-app:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Set up Google Cloud CLI
        uses: google-github-actions/setup-gcloud@v1.0.1

      - name: Authenticate to GKE cluster
        run: |
        cd app 
        gcloud auth activate-service-account --key-file ${{ secrets.GCP_SA_KEY }}
        gcloud container clusters get-credentials zi-cluster --zone us-central1-a --project zoominfo-project


      - name: Run Terraform init
        run: |
        cd app 
        terraform init

      - name: Run Terraform apply
        run: |
        cd app 
        terraform apply

      - name: Deploy Python image to Kubernetes cluster
        run: |
        cd app 
        kubectl apply -f deployment.yaml
        
      - name: Apply service yaml
        run: |
        cd app 
        kubectl apply -f service.yaml
