
name: CI/CD Pipeline

on:
  push:
    branches:
     # - main  # Adjust to your main branch name

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Google Cloud CLI
      uses: google-github-actions/setup-gcloud@v1
      with:
        version: 'latest'
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Terraform Init
      run: terraform init
      working-directory: ./zinfo/

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: ./zinfo/

    - name: Deploy Application
      run: python service.py  # Adjust the command based on your application
      working-directory: ./zinfo/
      
    - name: Terraform Destroy (Cleanup)
      run: terraform destroy -auto-approve
      working-directory: ./zinfo/
